# --- Database Configuration ---
# Имя базы данных
POSTGRES_DB=twitter_clone_db
# Пользователь БД
POSTGRES_USER=skillbox
# Пароль БД (в проде использовать сложный пароль!)
POSTGRES_PASSWORD=skillbox_password

# Хост БД. 
# Для локального запуска (pytest, alembic) - localhost
# Для запуска внутри docker-compose переопределяется в docker-compose.yml
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# --- Security ---
# Секретный ключ для подписи токенов (сгенерируйте свой для продакшена)
SECRET_KEY=super_secret_key_change_me_in_production